// GENERAL STATISTIC
.content {
    background-color: $header-hover-color;
    margin: 0;
}
.content-general {
    background-color: $section-bg-color;
}
.sth {
    padding: 32px 0 35px;
    border-bottom: 1px solid $border-input-color;

}
.graph {
    display: block;
    margin: auto;
    padding-bottom: 30px;
}