* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background-color: $header-hover-color;
}
.position {
  display: flex;
  flex-wrap: wrap;
}
.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}


@media(max-width: 767px) {
  @include grid('sm');
  .sidebar {
    display: none;
  }
  .sidebar-mobile {
    width: 55px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  .navbar {
    display: none;
  }
  .content {
    margin-left: 60px;
  }
}

@media(min-width: 768px) {
  @include grid('md');
  .sidebar {
    display: none;
  }
  .sidebar-mobile {
    display: none;
  }
  .navbar {
    display: none;
  }
  .sidebar-smaller-screens {
    width: 188px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
}

@media(min-width: 992px) {
  @include grid('lg');
}

@media(min-width: 1200px) {
  @include grid('xl');
}
@for $i from 1 through 12 {
.col-#{$i} {
      $width: 100% / 12 * $i;
      flex: 0 0 $width;
      max-width: $width;
  }
}