.statistic {
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
}
.statistic-big {
    height: 64px;
    width: 309px;
    border-bottom: 1px solid $border-input-color;
    padding-top: 20px;
}
.statistic-small {
    height: 41px;
    width: 309px;
    border-bottom: 1px solid $border-input-color;
    padding-top: 10px;
    padding-bottom: 40px;
}
.statistic-text {
    font-size: 16px;
    line-height: 42px;
    color: $header-color;
    font-family: "Roboto";
    font-weight: bold;
}
.statistic-number {
    font-size: 16px;
    line-height: 42px;
    color: #333333;
    font-family: "Roboto";
    font-weight: 300;
    text-align: right;
}
.statistic-first-half {
    padding-right: 66px;
    display: block;
}

@media(max-width: 767px) {
    .statistic-first-half,
	.statistic-second-half {
		margin: 0 auto;
		padding-left: 20px;
	}
	.statistic-first-half {
		padding-right: 0;
    }
    .statistic-small,
	.statistic-big {
		width: 200px;
		margin-right: 0;
	}
}

@media(min-width: 768px) and (max-width: 991px) {
    .statistic {
        flex-direction: column;
        align-items: center;
    }
    .statistic-first-half {
        padding-right: 0;
    }
    .statistic-first-half,
	.statistic-second-half {
		margin:0 33px;
	}
}