/* Colors */
$paragraph-color: #000;
$brand-main-color: #ff0000;
$orange-button-color: #f58220;
$section-bg-color: #FFF;
$header-color: #a6a6a6;
$text-color: #333;
$link-user-color: #56819f; 
$orange-hover-color: #ffa200;                           
$grey-icon-color: #9c9c9c;
$border-input-color: #e3e3e3;
$border-hover-color: #b1b1b1;
$hover-link-color: #f1f3f3;
$header-hover-color: #f5f5f2;
$sidebar-icon-text-color: #818181;
$sidebar-bg-color: #191919;
$sidebar-hover-color: #282828;
$bg-color: #f1f1ee;

/* Font sizes */
$cash-font-size: 20px;
$button-font-size: 18px;
$header-font-size: 16px;
$paragraph-font-size: 14px;
$linksm-font-size: 13px;

/* Fonts */
$page-font: 'Roboto', sans-serif;

/* line-height */
$line-h-1: 42px;
$line-h-2: 17px; 