.input-date {
    width: 325px;
    height: 40px;
    border-radius: 3px;
    background-color: $section-bg-color;
    border: 1px solid $border-input-color;
    &:hover {
        border: 1px solid $border-hover-color;
    }
    &:after {
        position: absolute;
		content: "";
		height: 28px;
		background-color: $border-input-color;
        width: 1px;
        margin-left: 150px;
		top: 56%;
    }
}
.date {
    display: inline-block;
    border: none; 
    height: 35px;
    font-size: $paragraph-font-size;
    line-height: $line-h-1;
    color: $text-color;
    font-family: $page-font;
    font-weight: 300;
}
.date-1 {
    width: 150px;
}
.date-2 {
    width: 100px;
}
