// TEXT 
.page-header {
    font-size: $header-font-size;
    line-height: $line-h-1;
    color: $header-color;
    font-family: $page-font;
    text-transform: uppercase;
}
.section-header {
    font-size: $header-font-size;
    line-height: $line-h-1;
    color: $header-color;
    font-family: $page-font;
    font-weight: bold;
    
}
.p-text {
    font-size: $paragraph-font-size;
    line-height: $line-h-1;
    color: $text-color;
}

// LINKS
.lbig {
    font-size: $header-font-size;
    line-height: $line-h-2;
    color: $link-user-color;
    font-family: $page-font;
    font-weight: 300;
    &:hover {
        color: $orange-hover-color;
    }
}
.lsmall {
    font-size: $linksm-font-size;
    line-height: $line-h-1;
    color: $link-user-color;
    font-family: $page-font;
    font-weight: 300;
    &:hover {
        color: $orange-hover-color;
    }
}

